body, html{
	position: relative;
	height: 100%;
	min-height: 100%;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	box-sizing: border-box;
	margin: 0px;
	font: 1em/1.25 Helvetica, Arial, sans-serif;
	background: rgb(245, 245, 245);
}
.darkMode{
	background: rgb(32, 32, 32);
	color: white;
}
#loadingContainer{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 4px;
	width: 100%;
	background: transparent;
}
#loading{
	position: relative;
	left: -100px;
	width: 0px;
	height: 100%;
	background: #cccccc;
	transition: all cubic-bezier(0.6, 0, 0.2, 1) 150ms;
	opacity: 0;
}
#loading.running{
	opacity: 1;
	animation: loading 1500ms cubic-bezier(0.6, 0, 0.2, 1) 0s infinite;
}
header{
	position: relative;
	display: block;
	height: 50px;
	box-sizing: border-box;
	padding: 14px 75px;
	width: 100%;
	user-select: none;
	box-shadow: 0px 0px 8px 1px #eee;
	z-index: 10;
	background: #fff;
	font-size: 1.25rem;
	font-weight: 700;
	/* border-bottom: 1px solid #ddd; */
}
header input[type=file]:valid{
	background: pink;
}
header #buttons{
	display: inline;
	float: right;
}
header #download{
	padding: 10px;
	cursor: pointer;
}
header #upload{
	position: relative;
	display: inline-block;
	height: 24px;
	width: 50px;
}
header #upload svg#choose{
	position: absolute;
	top: -11px;
	right: 0px;
	padding: 10px;
	cursor: pointer;
	transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
	cursor: pointer;
}
header #upload svg#chosen{
	position: absolute;
	top: -1px;
	right: 10px;
	opacity: 0;
	transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
	cursor: pointer;
}
header input[type=file]:valid+#upload svg#choose{
	opacity: 0;
}
header input[type=file]:valid+#upload svg#chosen{
	opacity: 1;
}
#msg{
	position: relative;
	top: -100px;
	width: 350px;
	margin: 0 auto;
	padding: 15px 25px;
	background: #ddd;
	text-align: center;
	transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}
#msg.vis, #msg.amber, #msg.err{
	top: 0px;
}
#msg.amber{
	background: #ee8f00;
	color: #fff;
}
#msg.err{
	background: #de3e16;
	color: #fff;
}
section{
	width: 85%;
	max-width: 1100px;
	margin: 50px auto 35px;
}
section>.container{
	padding: 25px 0;
}





@keyframes loading{
	0%, 100%{
		background: #60db65;
	}
	10%{
		left: -50px;
	}
	60%{
		background: #4caf50;
		width: 50%;
	}
	100%{
		left: 100%;
		width: 20%;
	}
}